/* Global Layout Set-up */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

fieldset {
    border: none;
    margin-right: 10px;
    margin-left: 10px;
}

label {
    color: #98a2ab;
    margin-top: 10px;
}


.row {
    flex: 1;
}

p {
    color: darkgray;
}

.h2-welcome {
    color:#2f3944;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}
.h2-form {
    color:#2f3944;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Transitions */

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-transition: background .3s ease-in, box-shadow ease-out .3s, padding .3s ease-in;
	-moz-transition: background .3s ease-in, box-shadow ease-out .3s, padding .3s ease-in;
	-ms-transition: background .3s ease-in, box-shadow ease-out .3s, padding .3s ease-in;
	-o-transition: background .3s ease-in, box-shadow ease-out .3s, padding .3s ease-in;
	transition: background .3s ease-in, box-shadow ease-out .3s, padding .3s ease-in;
}


/* Pseudo Classes */

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    background-color: white;
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-label:hover,
.select-label:hover,
.flex-zip:hover {
    color: rgba(81, 203, 238, 1);
}


::-webkit-input-placeholder {
    text-align: right;
    padding-right: 20px;
    font-size: 0.9em;
    color: darkgrey;
    font-style: italic;
  }
  ::-moz-placeholder {
    text-align: right;
    padding-right: 20px;
    font-size: 0.9em;
    color: darkgrey;
    font-style: italic;
  }
  :-ms-input-placeholder {
    text-align: right;
    padding-right: 20px;
    font-size: 0.9em;
    color: darkgrey;
    font-style: italic;
  }
  ::placeholder {
    text-align: right;
    padding-right: 20px;
    font-size: 0.9em;
    color: darkgrey;
    font-style: italic;
  }

/* Section Styles */

.main-nav {
    background: #2f3944;
}

.main-nav h2 {
    padding-top: 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: lighter;
}

.welcome {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}


.seperator-1 {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    margin-bottom: 15px; 
    border-top: 5px solid #2f3944;
    border-bottom: 2px solid #2f3944;
}

.background-dark {
    background-color: #363c44;
}

.flex-label,
.select-label,
.flex-zip,
.h2-white  {
    color:white;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    height: auto;
    width: 100%;
    background:#eff0f1;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset; 
}


.select-wrap {
    margin-bottom: 10px;
}

select {
    height: 50px;
    color: darkgrey;
}

.select-label {
    margin-bottom: 10px;
}


input[class="zipcode"] {
    max-width: 50%;
}

.seperator-2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #2f3944;
}

.newsletter-type,
.newsletter-format {
     margin-bottom: 10px;
}

.newsletter-type {
    margin-top: 25px;
}
.newsletter-format {
    margin-top: 20px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.other-text {
    margin-top: 15px;
    margin-bottom: 0;
}

button {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 16px;
    background: #6bb9b4;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.button-wrap {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}


footer p {
    padding-bottom: 45%;
    padding-top: 5%;
    text-align: center;
    font-style: italic;
}



/* Media Queries */

@media(min-width: 768px) {

.flex-row {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 600px;
    flex-wrap: wrap;
}
.flex-label,
.select-label {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.input-control {
    flex: 2;
}

.select-control {
    flex: 2 1 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.select-wrap {
    min-height: 70px;
    margin-bottom: 0;
}

.flex-zip  {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 190px;
}

input[class="zipcode"] {
    flex-basis: 25%;
}

textarea {
    min-height: 100px;
}

footer p {
    padding-bottom: 15%;
}

.desktop-wrap {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}


}
