/* Global Layout Set-up */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

fieldset {
    border: none;
    margin-right: 10px;
    margin-left: 10px;
}

label {
    color: #98a2ab;
    margin-top: 10px;
}


.row {
    flex: 1;
}

p {
    color: darkgray;
}

.h2-color {
    color:#2f3944;
}

/* Link Styles */


/* Pseudo Classes */

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus{
    background-color: white;
}

::-webkit-input-placeholder {
    text-align: right;
    padding-right: 20px;
    font-size: 0.9em;
    color: darkgrey;
    font-style: italic;
  }
  ::-moz-placeholder {
    text-align: right;
    padding-right: 20px;
    font-size: 0.9em;
    color: darkgrey;
    font-style: italic;
  }
  :-ms-input-placeholder {
    text-align: right;
    padding-right: 20px;
    font-size: 0.9em;
    color: darkgrey;
    font-style: italic;
  }
  ::placeholder {
    text-align: right;
    padding-right: 20px;
    font-size: 0.9em;
    color: darkgrey;
    font-style: italic;
  }

/* Section Styles */

.main-nav {
    background: #2f3944;
}

.main-nav h1 {
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.welcome {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}

.welcome h2 {
    padding-top: 20px;
}

.seperator-1 {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    margin-bottom: 15px;
    border-top: 6px solid #2f3944;
    border-bottom: 2px solid #2f3944;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    height: auto;
    width: 100%;
    background:#eff0f1;
    border: none;
    border-radius: 5px;
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

select {
    height: 50px;
    color: darkgrey;
}

.select-wrap {
    margin-bottom: 10px;
}

.select-label {
    margin-bottom: 10px;
}


input[class="zipcode"] {
    width: 50%;
}

.seperator-2 {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid #2f3944;
}

.newsletter-type,
.newsletter-format {
     margin-bottom: 10px;
}
.newsletter-format {
    margin-top: 15px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.other-text {
    margin-top: 15px;
    margin-bottom: 0;
}

button {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 16px;
    background: #6bb9b4;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.button-wrap {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}


footer p {
    padding-bottom: 45%;
    padding-top: 5%;
    text-align: center;
    font-style: italic;
}



/* Media Queries */
