/* Global Layout Set-up */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.row {
    flex: 1;
}

/* Link Styles */


/* Pseudo Classes */


/* Section Styles */


footer p {
    padding-bottom: 75%;
}

.seperator {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    text-align: center;
    border-top: 8px solid #2f3944;
    border-bottom: 4px solid #2f3944;
}

/* Media Queries */
